{% extends "base.html" %}
{% block content%}
{% load static %}

<link href="{% static '/styles/about.css' %}" rel="stylesheet">

<div class="about text-center">
    <h1 class="display-4">Who are we?</h1>
    <p>
        We are a group of passionate and enthusiastic Egyptian programmers that came together for the purpose of building a
        website that could benefit all of us. We started our project focusing on the capital Cairo with the goal
        to expand and cover all of Egypt in the future. As of now, our website can guide you through the different
        districts of Cairo and show you the different vibrancy levels of the different districts. But fear not! with
        your help, we will be adding more indicators in the near future such as safety and walkability.
    </p>

    <a type="button" href="contact-us" class="btn btn-outline-light btn-lg mt-5">
        Contact Us
    </a>
</div>

<footer class="">
    <hr class="mx-auto centered" style="width: 80%"/>
    <p class="text-center"><i class="far fa-copyright"></i> 2021 Cairo Pulse.</p>
</footer>

{% endblock %}