{% extends "base.html" %}

{% block content %}
{% load static  %}
    <link rel="stylesheet" href="{% static 'scripts/leaflet/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/map.css' %}">
    <script src="{% static 'scripts/leaflet/leaflet.js' %}"></script>


             <div id="mapid" >
                <div class="container " id="search-div" style="position: relative ;">
                    <form method="post">
                        <div class="row">
                            <div class="col">
                                <div>
                                 <input  id="search-bar" type="text" class="form-control" placeholder="Search for a Neighborhood">
                                    </div>
                                <div id="search-res">

                                </div>
                              </div>
                        </div>
                    </form>
                </div>
             </div>



     <script src="{% static 'scripts/neighborhood_search.js' %}"></script>



    <script type="text/javascript" src="{% static 'scripts/cairoDistricts.js' %}"></script>

    <script type="text/javascript" src="{% static 'scripts/map_load.js' %}"></script>


{% endblock %}