/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(235, 235, 235);  /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav a {
  position: absolute;
  top: 60px;
  right: 30px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: black;
}
.sidenav .closebtn:hover{
    color: rgb(128, 49, 49);
}


.fonty{
  font-family: 'Montserrat', sans-serif;
}
